.home {
    overflow-x: hidden;
}

.lottieFloating {
    position: fixed;
    top: 90px;
    /* pushes it below header */
    right: 50px;
    width: 200px;
    height: 200px;
    z-index: 9999;
    pointer-events: none;
    /* prevents blocking clicks */
}


.HeroSection {
    background-image: url('../../assets/images/infinite-loop-01.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhatWeDoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 40px 20px;
    padding-bottom: 6%;
}

.WhatWeDoSection h2 {
    text-align: center;
    /* font-size: 65px; */
    font-size: clamp(35px, 6vw, 65px);
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
}

.WhatWeDoSection h2 .highlight {
    color: #adf201;
}


.WhatWeDoSection p {
    text-align: center;
    padding-top: clamp(20px, 2vw, 40px);
    font-weight: 600;
    font-size: clamp(16px, 4vw, 20px);
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}


/* .WhatWeDoCardsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}


.WhatWeDoCardsRow {
    display: flex;
    flex-direction: row;
    gap: 40px;
} */


.WhatWeHaveBeenUpTo {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    align-items: center;
    padding: 40px 20px;
}

.WhatWeHaveBeenUpTo h2 {
    text-align: center;
    font-size: clamp(35px, 6vw, 65px);
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
}


.WhatWeHaveBeenUpTo h2 .highlight {
    color: #adf201;
}

.coverflowDiv {
    position: relative;
}


.ContactUsSection {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: red;
    padding: 40px 20px;
}

.ContactUsSection h2 {
    text-align: center;
    font-size: clamp(35px, 6vw, 65px);
    padding-top: 40px;
    font-family: "Poppins", sans-serif;

}