/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: background 0.3s, box-shadow 0.3s;
    background: transparent;
    z-index: 1000;
}

.navbar.scroll {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar.scroll .nav-links li:hover {
    background-color: #adf201;
}

/* Container inside navbar */
.container {
    width: 100%;
    height: auto;
    max-width: 1200px;
    /* padding-top: 15px;
  padding-bottom: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Brand */
.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

.brand-logo {
    width: auto;
    height: 100px;
}


.navbar.scroll .brand {
    color: #333;
}

/* Nav links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 25px;
}

.nav-links li {
    cursor: pointer;
    color: white;
    transition: color 0.3s;
    background-color: transparent;
    padding: 10px;
}

.navbar.scroll .nav-links li {
    color: #333;
}

.nav-links li:hover {
    background-color: #adf201;
    color: #333;
    transition: 0.3s ease;
    /* blue on hover */
}

/* Mobile toggle */
.toggler {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar.scroll .toggler {
    color: #333;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .toggler {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        flex-direction: column;
        width: 200px;
        display: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        padding: 1rem;
        color: #333;
    }

    .nav-links li:hover {
        color: #adf201;
    }
}