.wwd-card {
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 400px;
    width: 100%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.wwd-card h3 {
    font-size: clamp(20px, 4vw, 26px);
    margin-top: 10px;
    color: white;
}

.wwd-card p {
    font-size: clamp(16px, 1vw, 18px);
    text-align: start;
    color: white;
}

.wwd-card:hover {
    transform: scale(1.05);
    background-color: #adf201;
}

.wwd-card:hover h3,
.wwd-card:hover p {
    color: black;
}